/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

/* Asterix wildcard selector to override default styles added by browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    background: linear-gradient(to right top, #651173, #8a0049, #8e1f23, #7e4201, #635a00, #606800, #577700, #478613, #6a9305, #8ea000, #b3ab00, #d9b504) no-repeat;
    font-family: 'Fira Mono', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 250%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin: 10px;
    color: #0339a6;
}

/* Main section */
main {
    display: flex;
    flex-direction: column;
}

/* Form Styles */
#start {
    width: 100vw;
}

#start-form {
    width: 90vw;
    background-color: rgba(3, 57, 166, 0.7);
    border: 1px solid #0339a6;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 2px #0339a6;
    margin: 10px auto;
}

fieldset {
    padding: 10px 5px;
    margin: 5px 5px;
    border: 2px solid #651173;
    border-radius: 2px;
}

#start-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

#start-button {
    background-color: #651173;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 100%;
    padding: 20px 40px;

}

#start-button:hover {
    font-weight: bold;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background: white;
    border-radius: 1rem;
    border-style: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    max-height: 90%;
    padding: 1rem;
    overflow-y: auto;
  }

  dialog::backdrop {
    background-color: hsla(0, 0%, 0%, 0.636);
  }

.dialog-close-button {
    margin-left: auto;
    margin-right: 0;
    width: fit-content;
    color: #333;
}

.dialog-close-button:hover {
    cursor: pointer;
}

dialog p {
    margin-top: 20px;
    color: #333; /* Adjust text color */
    font-size: 16px; /* Adjust text size */
}

/* Game.html styles */
#game-controls {
    display: flex;
    width: 95%;
    max-width: 800px;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin: 30px 0px 10px;
}
.game-button {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    color: #000000;
    font-weight: 500;
    background-color: #ffffff99;
}

.game-button:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

#gameboard {
    position: relative;
    height: 510px;
    width: 95%;
    max-width: 800px;
    background-color: #ffffff99;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.draggable {
    width: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #00000000;
    font-weight: bold;
    cursor: grab;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    user-select: none;
    margin: 5px;
}

.draggable:hover {
    transform: scale(1.05);
    color: #000
}

.draggable.is-pointer-down {
    opacity: 0.7;
    z-index: 2;
}

.draggable.is-dragging {
    opacity: 0.6;
}

#flag-info-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#flag-info-title, #flag-info-description {
    text-align: center;
    margin: 20px;
}

/* Footer */
/* Makes footer stick to bottom */
footer {
    margin-top: auto;
    width: 100%;
}

#creator-github {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* Footer Icons */
#creator-github {
    font-size: 120%;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    #start-form {
        width: 70vw;
    }

    #gameboard {
        width: 80%;
    }
}

/* Media query: laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {
    #start-form {
        width: 50vw;
    }
}

