/* Fonts import */ 
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

/* Asterix wildcard selector to override default styles added by browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    background: linear-gradient(to right top, #651173, #8a0049, #8e1f23, #7e4201, #635a00, #606800, #577700, #478613, #6a9305, #8ea000, #b3ab00, #d9b504) no-repeat;
    font-family: 'Fira Mono' , sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 250%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin: 10px;
    color: #0339a6;
}

/* Main section */ 
main {
    display: flex;
    flex-direction: column;
}

/* Form Styles */
#start {
    width: 100vw;
}

#start-form {
    width: 90vw;
    background-color: rgba(3, 57, 166, 0.7);
    border: 1px solid #0339a6;
    border-radius: 8px;
    box-shadow: 2px 2px 8px 2px #0339a6;
    margin: 10px auto;
}

fieldset {
    padding: 10px 5px;
    margin: 5px 5px;
    border: 2px solid #651173;
    border-radius: 2px;
}

#start-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

#start-button {
    background-color: #651173;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 100%;
    padding: 20px 40px;
    
}

#start-button:hover {
    font-weight: bold;
}

/* Game.html styles */ 
#gameboard {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: gray;
}

.draggable {
    width: 100px;
    height: 100px;
    background-color: darkgray;
    position: absolute;

}

.draggable.is-pointer-down {
    opacity: 0.7;
    z-index: 2;
}

.draggable.is-dragging {
    opacity: 0.6;
}

/* Footer */
/* Makes footer stick to bottom */
footer {
    margin-top: auto;
}

#creator-github {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/* Footer Icons */
#creator-github {
    font-size: 120%;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    #start-form {
        width: 70vw;
    }
}

/* Media query: laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {
    #start-form {
        width: 50vw;
    }
}




